body {
    font-family: sans-serif;
    background-color: lightgray;
}

/* NAVBAR STYLES */

.landingPageImage {
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(../images/landingPageImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 30px;
}

.landingPageImage h2 {
    font-size: 36px;
    color: rgb(78, 78, 78);
    background-color: lightskyblue;
    padding: 20px;
}


.navbar {
    background-color:  rgb(78, 78, 78);
    margin-bottom: 20px;
}

nav h1 {
    background-color: lightskyblue;
    color: rgb(78, 78, 78);
    font-size: 36px;
    padding: 10px;
    padding-left: 50px;
}
nav {
    display: flex;
    padding: 30px;
    padding-left: 0px;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.navlink {
    color:lightskyblue;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-bottom: 5px solid lightskyblue;
    

}

nav a:hover {
    color: lightgray;
    border-color: lightgray;
    cursor: pointer;
}

/* INFO SECTION STYLES */

main {
    display: flex;
    color: rgb(78, 78, 78);
    flex-direction: column;
    justify-content: center;
}

section { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

.sectionTitle {
    display: flex;
    justify-content: right;
    font-size: 45px;
    padding: 20px;
    min-width: 15%;
    max-width: 15%;
}

.sectionInfo {
    padding-left: 50px;
    line-height: 1.5;
    border-left: 6px solid rgb(78, 78, 78);
}

.sectionInfo p {
    margin-bottom: 20px;
}

#portrait {
    height: 256px;
    border-radius: 100%;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-grow: 1;
    justify-content: space-evenly;
}

#contactInfo h3 {
    border-bottom: 5px solid rgb(78, 78, 78);
    padding-left: 5px;
    padding-right: 5px;
}

#apps {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1 1 100%;
    flex-wrap: wrap;
}

.appCard {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 50px;
    padding-left: 0px;
    border: 5px solid lightskyblue;
    margin: 10px;
    opacity: 0.5;
}

.appCard:hover {
    transition: opacity 1s;
    opacity: 1;
}

.appCard h3, h4{
    background-color: lightskyblue;
    padding: 10px;
}

.appCard h3 {
    font-size: 24px;
}

.appCard h4 {
    font-size: 12px;
}

#semanticChallenge {
    background-image: url("../images/semanticChallenge.png");
    min-height: 500px;
}

#testApp {
    background-image: url("../images/landingPageImage.jpeg");
    max-width: 50%;
}